@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: hsl(185, 75%, 39%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
}
body::before {
  background: url(./images/bg-pattern-top.svg) no-repeat bottom right;
  top: 0;
  left: 0;
}
body::after {
  background: url(./images/bg-pattern-bottom.svg) no-repeat top left;
  top: 100%;
  left: 100%;
}

body::before,
body::after {
  position: absolute;
  content: "";
  z-index: -1;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
.card {
  background: white;
  margin-bottom: 3rem;
  max-width: 400px;
  border-radius: 1rem;
  overflow: hidden;
}
.card-top {
  position: relative;
  margin-bottom: 1.5rem;
}
.card-bg {
  width: 100%;
}
.victor {
  position: absolute;
  bottom: -30%;
  left: 35%;
  border-radius: 50%;
  border: 5px solid white;
}
.card-mid {
  padding: 2rem;
  color: hsl(227, 10%, 46%);
  font-size: 1rem;
  line-height: 1.5;
}
.card-mid h2 {
  color: hsl(229, 23%, 23%);
  display: inline;
}
.card-mid span {
  margin-left: 0.5rem;
}
.card-bot {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid hsl(0, 0%, 59%);
  padding: 2rem 0;
}
.num p {
  color: hsl(227, 10%, 46%);
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-top: 0.3rem;
}
@media (max-width: 426px) {
  .card {
    width: 80%;
  }
}
